<div class="card">
    <div class="card-body">
<h3 *ngIf="objectIdToUpdate; else  ">
Update Record Label: {{objectIdToUpdateName}}
</h3>
<ng-template #create>
  <h3>Create New</h3>
</ng-template>
<form [formGroup]="objectForm" (ngSubmit)="onFormSubmit()">
<table>
  <tr>
    <td>Enter Name</td><td><input formControlName="name" placeholder="Name" class="form-control">
    <label *ngIf="objectForm.get('name').invalid && processValidation" [ngClass]="'error'"> Name is Required.</label>
    </td>
    </tr>
    <tr>
    <td>Country</td><td>
        <input formControlName="country" placeholder="Country" class="form-control">
        <!-- <label *ngIf="objectForm.get('picsUrl').invalid && processValidation" [ngClass]="'error'"> Country is Required.</label> -->
      </td>
  </tr>
  <tr>
      <td>Info</td><td><input formControlName="labelinfo" class="form-control">
      <!-- <label *ngIf="objectForm.get('picsUrl').invalid && processValidation" [ngClass]="'error'"> Pics is Required.</label> -->
      </td>
      </tr>
      <tr>
          <td>Image</td><td>
            
            
            <input  hidden formControlName="labelimg" class="form-control">
            <input class="form-control" type="file"  ng2FileSelect [uploader]="uploader" /> 
              
           <img [src]="filePreviewPath" width="200" *ngIf="filePreviewPath" />
            <tr *ngFor="let item of uploader.queue">
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs"
                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                            (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            (click)="item.remove();removePics()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>

         </tr>
         </td>
         </tr>
  <tr><td colspan="2">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-ghost-success"  *ngIf="!objectIdToUpdate">Create</button>
      &nbsp;&nbsp;&nbsp;<button class="btn btn-ghost-warning" *ngIf="objectIdToUpdate">Update</button>
    <button class="btn btn-ghost-dark" (click)="backToCreateObject()" *ngIf="objectIdToUpdate">Go Back</button>
  </td></tr>
</table>

</form>
<br>
<div *ngIf="statusCode; else processing">
  <div *ngIf="statusCode === 201" [ngClass]="'success'">
     added Sucessfully
  </div>
  <div *ngIf="statusCode === 200" [ngClass]="'success'">
       added Sucessfully
    </div>
</div>
</div>
</div>


<!-- Edit Object  -->
<div class="card">
    <div class="card-body">
<table class="table">
  <tr><th>Name</th><th>Country</th><th>Info</th><th>Logo</th><th></th><th></th></tr>
  <tr *ngFor="let recordLabel of recordLabels">
    <td>{{recordLabel.name}}</td><td>{{recordLabel.country}}</td><td>{{recordLabel.labelinfo}}</td><td><img src="{{recordLabel.labelimg}}" width="50"/></td>
    <td> <button class="btn btn-warning btn-sm" (click)="getObject(recordLabel.id)"><i class="fa fa-edit"></i></button></td>
    <td><button class="btn btn-danger btn-sm"  (click)="delete(recordLabel)"><i class="fa fa-times"></i> </button></td>
  </tr>
</table>


</div>
</div>
<!-- End Edit Code -->

<!-- <h2>Record Label</h2>

<div>
  <label>Record Label name:
    <input #recordLabelName />
    <input #recordLabellabelinfo />
 
  </label>
  <!--(click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(recordLabelName.value, recordLabellabelinfo.value); recordLabelName.value='';recordLabellabelinfo.value='' " >
    add
  </button>
</div>  -->
<!-- 
<ul>
  <li *ngFor="let recordLabel of recordLabels">
    
      <span class="badge">{{recordLabel.id}}</span> {{recordLabel.name}} {{recordLabel.labelinfo}} {{recordLabel.country}}
 
    <button class="delete" title="delete recordLabel"
    (click)="delete(recordLabel)">x</button>
  </li>
</ul>  -->


